.board {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    overflow: auto;
}
.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label {
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .checkbox-label {
        margin: 10px auto; /* Untuk memberikan jarak pada layar kecil */
    }
}

/* Gaya untuk kotak nomor soal */
.nomor-soal-box {
    display: inline-block;
    width: calc(10% - 10px); /* Menggunakan calc untuk menghitung lebar kotak dengan jarak antar kotak */
    height: 40px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* Aturan media queries untuk layar dengan lebar >= 768px (misalnya laptop) */
@media (min-width: 768px) {
    .nomor-soal-box {
        width: calc(10% - 10px); /* Menampilkan 10 kotak per baris */
    }
}

/* Aturan media queries untuk layar dengan lebar < 768px (misalnya perangkat mobile) */
@media (max-width: 767px) {
    .nomor-soal-box {
        width: calc(20% - 10px); /* Menampilkan 5 kotak per baris */
    }
}
